body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/Pancakes/background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 50%;
	font-family: source sans Pro,sans-serif;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;

}
.blog{
	margin-bottom: 20px;
}
.date{
	color: #ffaa00;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: 600;
}
.paragraph{
	border-left: 5px solid #ffaa00;
	padding-left: 5px;
}
h2{
	font-size: 2.0rem;
	color: #Fff;
}
hr{
	border: 0;
	height: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
p{
	color: #fff;
	font-weight: 600;
	text-align: justify;
}
img{
	  border: 1px solid #ffff;
	  width:900px;
      height:350px;
      object-fit:cover;
      object-position:50% 50%;
  }
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
	margin-right: -500px;
    }
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
ul.a {
  list-style-type: circle;
  color: #fff;
  font-weight: 600;
  text-align: justify;
}
a{
	color: #808080;
}